// Accoardion
@import "./accordion/custom-accordion";

// Alert 
@import "./alert/alert";

// Carousel
@import "./carousel/carousel";

// Cards
@import "./card/card";
@import "./card/icon-box";
@import "./card/card-dack";

@import "./dropdown/bs-dropdown";

// Buttons
@import "./button/bs-btn";
@import "./button/soft-btn";
@import "./button/icon-btn";
@import "./button/bs-btn-close";
@import "./button/border-btn";
@import "./button/fixed-btn";

// Forms
@import "./forms/bs-form-check";
@import "./forms/form-check";
@import "./forms/form-control-alternative";
@import "./forms/form-wizard";

// Tables
@import "./table/bs-table";

//tooltip
@import "./tooltip/tooltip";

// Modal
@import "./modal/modal";

// Navbar
@import "./nav/tabs";
@import "./nav/slider-tab";
@import "./nav/navbar";
@import "./nav/header";
@import "./nav/header-banner";

// Menu Style
@import "./menu-style/index";

// Footers
@import "./footer/footer-mini";

// NoUiSlider Plugins
@import "./slider/nouislider";

//FloatingInput
@import "./forms/floating-input";

//Timeline
@import "./timeline/timeline";
// Loader
@import "./loader/loader";

@import "./widgets/index";
@import "./main-content";

//Progressbar
@import "./progressbar/progressbar";



//map
@import "./map/vactor-map";

//calander
@import "./calender/calender";

//profile
@import "./profile/profile";

//chart
@import "./chart/chart";

//swiper icone
@import "./swiper-icon/swiper";

//Error
@import "./error/maintenance.scss";

//Floating
@import "./floating/floating-btn";

//gradient
@import "./circular-gradient/circular-gradient";
@import "./circular-gradient/gradient-bottom-left";
@import "./circular-gradient/gradient-top-right";



@import "./circular-gradient/gradient-bottom-left-2";
@import "./circular-gradient/gradient-top-right-2";
@import "./circular-gradient/gradient-bottom-right";
@import "./circular-gradient/gradient-top";
@import "./circular-gradient/gradient-bottom";

//grid
@import "./grid/grid";
