
{{!-- layouts/layout.hbs --}}

<!doctype html>
<html lang="en" dir="{{#compare dir '==' 'true'}}rtl{{else}}ltr{{/compare}}">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{{ appName }} | Responsive Bootstrap 5 Admin Dashboard Template</title>
      {{> partials/head }}
      {{#block "head"}}
        {{!-- External page head section--}}
      {{/block}}
  </head>
  <body class="{{bodyClass}} {{#compare dark '===' 'true'}} dark {{/compare}}" data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
    <!-- loader Start -->
    {{!-- <div id="loading">
      {{> partials/loader }}
    </div> --}}
    <!-- loader END -->
    
      <div class="wrapper">
        {{#block "content"}}
        {{/block}}
      </div>
    
    {{> partials/scripts }}
    {{#block "scripts"}}
    {{/block}}
  </body>
</html>